.task {
    border: 1px solid #ccc;
    background:rgba(32, 129, 240, .52);
    border-radius: 2px;
    padding: 4px;    
    display: flex;
    margin-bottom: 8px;
}

.text {
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete {
    width: 24px;
}