$yellow: rgb(255, 255, 244);
$inactive-bg: rgb(247, 247, 247);
$edit-bg: rgb(243, 243, 243);
$edit-width: 300px;

:host {
    position: relative;
}

.cell {
    border: 1px solid #ccc;
    min-height: 150px;
    padding: 10px;

    &:hover {
        cursor: pointer;
        background: $yellow;
    }

    &--inactive {
        background: $inactive-bg;
    }
}

.cell-date {
    display: flex;
    justify-content: flex-end;
}

.edit-popup {
    position: absolute;
    top: 0;
    min-height: 150px;
    width: 300px;
    padding: 10px;
    background: $edit-bg;
    z-index: 1;
    display: flex;
    flex-flow: column;
    right: -$edit-width - 14px;
    border: 2px solid #ccc;
    border-radius: 10px;

    .arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: rotateZ(45deg) translate(-75%);
        left: 0;
        border-left: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        background: $edit-bg;
    }

    &__task {
        padding-bottom: 10px;
    }

    .input {
        resize: none;

    }

    &--left {
        left: -$edit-width - 14px;

        .arrow {
            left: initial;
            right: 0;
            transform: rotateZ(-45deg) translate(75%);
            border-left: none;
            border-right: 2px solid #ccc;
        }
    }
}