<div
    class="cell"
    [ngClass]="{'cell--inactive': setIsInactive()}"
    (click)="edit()"
    (dragover)="allowDrop($event)"
    (drop)="drop($event)">
    <div class="cell-date">{{date | dateFormat:'DAY_NUMBER'}}</div>
    <div class="tasks">
        <app-task *ngFor="let task of tasks$ | async; trackBy: trackByFn" [task]="task"></app-task>
    </div>
</div>

<div
    *ngIf="editMode"
    class="edit-popup"
    [ngClass]="{'edit-popup--left': popupLeftAlign}">
    <div class="arrow"></div>
    <div class="tasks">
        <app-task
            *ngFor="let task of tasks$ | async; trackBy: trackByFn"
            class="edit-popup__task"
            [task]="task"
            [showDelete]="true"></app-task>
    </div>

    <textarea
        class="input"
        placeholder="Ctrl + enter — add event"
        rows="3"
        (keydown.control.enter)="save($event)"></textarea>
</div>
