<div class="main">
  <div class="app-header">
    <app-nav-button [navLink]="prev"></app-nav-button>
    <div class="current-month">{{monthWord}} {{year}}</div>
    <app-nav-button [navLink]="next" [flip]="true"></app-nav-button>
  </div>

  <div class="days-list">
    <div class="days-list__item">Mon</div>
    <div class="days-list__item">Tues</div>
    <div class="days-list__item">Wed</div>
    <div class="days-list__item">Thu</div>
    <div class="days-list__item">Fri</div>
    <div class="days-list__item">Sat</div>
    <div class="days-list__item">Sun</div>
  </div>

  <app-month [daysList]="daysList"></app-month>
</div>
